.login {
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid hsl(228, 39%, 23%);
  border-radius: 10px;
  box-shadow: 0 0 10px hsl(228, 39%, 23%);
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 1rem;
  text-align: left;
  width: 70%;
  font-size: var(--fs-600);
  font-weight: bold;
}

input {
  padding: 10px;

  margin-bottom: 5px;
  width: 70%;
  border: 2px solid hsl(228, 39%, 23%);
  border-radius: 5px;
}

.error {
  width: 70%;
  text-align: left;
  color: red;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

select {
  width: 70% !important;
}
